Django~=2.0.6
pillow  #for image compressor
social-auth-app-django  # for signup with google and github
facepy  #facebook API
fandjango # create token for API
-e git+git://github.com/leveille/django-twittercard.git#egg=twittercard
