{% extends 'webapp/base.html' %}

{% block content %}

<div class="timeline">
{% for post in posts_after %}

    <div class="pcontainer left">
        <div class="content" style="background-color:#ffffff">
            <h5>
                <b style="color:green; "><font size=5>&#8729</font></b>
                <strong><font size="2">{{ post.post_date|date:"j-M" }}</font></strong></h5>
            <a href="{% url 'view_post' pk=post.pk %}"><h3>{{ post.title }}</h3></a>
            <p>{{ post.body }}</p>
            {% if post.pic %}
            <div>
                <a><img class="full-img" src="{{ post.pic.url }}"></a>
            </div>
            {% endif %}
        </div>
    </div>

{% endfor %}
{% if check == 'posts' %}
<div class="col-xs-3">
    <div class="now_circle">
    </div>
</div>
<div class="col-xs-9">
    <h5 style="color:white;padding-top: 10px"><strong>NOW</strong></h5>
</div>
<br><br><br>
{% endif %}

{% for post in posts_before %}

    <div class="pcontainer left">
        <div class="content" style="background-color:#ffffff">
            <h5>
                <b style="color:red; "><font size=5>&#8729</font></b>
                <strong><font size="2">{{ post.post_date|date:"j-M" }}</font></strong></h5>
            <a href="{% url 'view_post' pk=post.pk %}"><h3>{{ post.title }}</h3></a>
            <p>{{ post.body }}</p>
            {% if post.pic %}
            <div>
                <a><img class="full-img" src="{{ post.pic.url }}"></a>
            </div>
            {% endif %}
        </div>
    </div>

{% endfor %}
</div>
{% if check == 'no_posts' %}
<div class="col-sm-4">
    <br><br>
    <h2 style="color:rgb(54, 54, 54);text-align:center;">No Posts</h2>
</div>
{% endif %}

{% endblock %}

