{% extends 'webapp/base.html' %}

{% block content %}
<div class="content">
        <h2>Profile&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/profile/edit" onclick="w3_close()" ><font size="3"><span class="glyphicon glyphicon-pencil"></span></font></a></h2>

        <br>
        <hr>

        <p><strong>UserName :</strong> {{user_info}}</p>
        <p><strong>FirstName :</strong> {{user_info.first_name}}</p>
        <p><strong>LastName :</strong> {{user_info.last_name}}</p>   
        <p><strong>Email id :</strong>  {{user_info.email}}</p>   

        </p>
</div>
{% endblock %}
